@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Playwrite+BE+VLG:wght@100..400&family=Playwrite+DK+Uloopet:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Ajustes iniciales */
:root{
    --color-textoArea:#d2d8f1;
    --color-azuloscuro: #0A3871;
    --color-fondo:#365d8b;
    --color-fondoblur: rgba(255, 255, 255, 0.3)
    --fuente-outfit:  "Outfit", sans-serif;
    --fuente-prompt: "Prompt", sans-serif;
}



*{
    margin: 0;
    padding: 0;
    /* box-sizing: content-box; */
}

html {
    min-height: 100vh;
    scroll-behavior: smooth;
}

body{
background-image: url("candado.png");
font-family: var(--fuente-prompt);
}

textarea{
    resize: none;
    outline: none;
    border: none;
}

li{
    list-style: none;
}

nav{
    top: 0;
    padding: 0 85px;
    background-color: var(--color-fondo);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 5px 80px #747474;
}
nav .logo img{
    margin-left: 5%;
    width: 80px;
    height: 80px;
}

nav .logo img:hover{
    transform: scale(1.10);
    transition-duration: 0.3s;
}


.nav_links{
    display: flex;
    gap: 200px;
    font-size: 1.5rem;
    font-family: var(--fuente-outfit);
    text-align: center;
}

.link a{
    text-decoration: none;
    position: relative;
    padding: 1rem 1rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}


nav button{
    background-color: var(--color-fondo);
    margin-right: 5%;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid #fff;
    font-size: 1.5rem;
}

nav button a{
    text-decoration: none;
    color: #fff;
}

nav button:hover{
    background-color: #fff;
    transform: scale(1.05);
    transition-duration: 0.3s;
}

nav button:hover a{
    color: var(--color-azuloscuro);
}

nav button.menu-btn{
    display: none;
}

/* Diseño encriptador */
.container{
    display: flex;
    justify-content: space-around;
    gap: 5%;
    padding: 1.5% 0.5%;
    min-height: 100vh;
    box-sizing: border-box;
}

.container_ingreso{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    gap: 0.5rem;
    border-radius: 0.6rem;
    color: var(--color-azuloscuro);

}

.container_titulo{ 
    font-size: 1.75rem; 
    display: flex;
    align-items: center;
    padding: 1.5%;
    border-radius: 1rem;
    background-color:var(--color-fondoblur);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px);
    color: #fff;
    gap: 25%;
    box-sizing: border-box;
}

.saludo{
    padding: 2%;
    border-radius: 1rem;
    background-color:var(--color-fondoblur);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px);
    color: #fff;
}


.container_ingreso > textarea{
    height: 35%;
    font-size: 1.25rem;
    margin: 0 0 5% 13.5%;
    background-color:var(--color-fondoblur);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px);
    border-radius: 1rem;
    padding: 3%;
    color: #fff;
    font-family: var(--fuente-prompt);
}

textarea::placeholder{

    color: #fff;
    font-family: var(--fuente-prompt);
}


.aviso{
    display: flex;
    align-items: center;
    gap: 2%;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    font-family: var(--fuente-prompt);
    justify-content: center;
}

.container-btns {
    display: flex;
    gap: 5%;
    justify-content: center;
}


.container-btns button{
    font-size: 1.5rem;
    color: var(--color-azuloscuro);
    background-color: #fff;
    border-radius: 1rem;
    border: 1px solid transparent;
    padding: 1rem 2rem;
}

.container-btns button:hover{
    background-color: #365d8b;
    color: #fff;
    transform: scale(1.05);
    transition-duration: 0.3s;
}

.container_salida{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 1% 2% 0 2%;
    border-radius: 2rem;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 1rem;
    box-sizing: border-box;
}

.container_salida textarea{
    height: 100%;
    color: #0A3871;
    font-family: var(--fuente-prompt);
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 3%;
    background: none;
    font-size: 1.5rem;
}

#outputText {
    display: none;
}

.muneco {
    
    width: 70%;
}

.mensaje_1{
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    color: #343A40;
    padding: 5% 2.9%;
    font-family: var(--fuente-prompt);
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}
.mensaje_2{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #343A40;
    font-family: var(--fuente-outfit);
    margin-left: 5%;
    margin-right: 5%;
}

.copy-btn{
    color: #fff;
    background-color: #0A3871;
    padding: 1rem 2rem;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 1rem;
    border: 1px solid transparent;
    font-size: 1.5rem;
    display: none;
}
.copy-btn:hover{
    background-color: #fff;
    color: #0A3871;
    border-color: #0A3871;
    transform: scale(1.05);
    transition-duration: 0.3s;
}
footer{
    width: auto;
    font-weight: 500;
    background-color: var(--color-fondo);
    color: #fff;
    font-family: var(--color-textoArea);
    text-align: center;
    padding: 0.5%;
}

/*respuesta 768px*/

@media(max-width: 768px){    

    nav{
        justify-content: space-between;
        padding: 0 42px;
    }

    .nav_links{
        gap: 100px;
    }

    nav ul li{
        font-size: 1.25rem;
    }

    nav button{
        font-size: 1.25rem;
    }

    .container{
        flex-direction: column;
        margin: 2%;
        gap: 2rem;
        justify-content: space-evenly;
    }

    .saludo{
        font-size: 1.25rem;
    }

    .container_ingreso{
        justify-content: center;
        width: 100%;
        gap: 2rem;
    }
    .container_ingreso > textarea{
        height: 15rem;
        margin: 2px ;
    }
    
    .container-btns button{
        gap: 5%;
        margin-bottom: 2%;

    }
    .container_salida{
        width: 100%;
        height: auto;
        padding: 0 2%;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }

    .container_salida > textarea{
        height: 8rem;
        width: 100%;
    }
    
    .muneco{
        display: none;
    }

    .mensaje_1{
        width: 100%;
        padding: 0 0 5% 0;
    }

    .mensaje_2{
        width: 100%;
        padding: 0 0 8% 0;
    }

    .copy-btn{
        box-sizing: border-box;
        margin-bottom: 2%;
        }
    footer{
        padding: 1.5%;
    
    }
}

/* respuesta 375px */

@media(max-width: 375px) {

    nav.open .logo{
        display: none;
    }

    nav.open .contacto-btn{
        display: none;
    }
    
    nav ul li{
        display: none;
    }
    
    .nav_links{
        gap: 5px;
    }

    .nav_links a{
        width: 95px;
        font-size:large;
    }


    nav .contacto-btn{
        font-size: 1.5rem;
    }

    nav.open ul li{
        display: flex;
    }

    nav button.menu-btn{
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        padding: 15px;
        width: 50px
    }


    nav button.menu-btn:hover{
        transform: scale(1.10);
        transition-duration: 0.3s;
    }

    .container{
        gap: 20px;
    }

    .container_titulo{
        font-size: 1.1rem;
        padding: 1.5%;
    }

    .saludo{
        font-size: 1rem;
    }

    .container_ingreso textarea{
        font-size: 1rem;
    }

    .container-btns {
        flex-direction: column;
        gap: 1rem;
    }

    .container_salida{
        height: 80%;
        gap: 1rem;
    }

    .container_salida textarea{
        height: 10rem;;

    }

    .mensaje_1, .mensaje_2{
        width: 90%;
    }

    .copy-btn{
        margin-bottom: 5%;
    }

    footer{
        width: auto;
        font-weight: 500;
        margin-top: 15px;
    }
}